// Variables
//
// Variables should follow the `$component-state-property-size` formula for

// Color system

$rtk-purple: #5b10ff;
$rtk-pink: #ff00af;
$rtk-green: #02b31b;
$rtk-orange: #ff9629;
$rtk-red: #ff0000;
$rtk-scent: #f4f3f6;
$rtk-umbra: #08091f;

$rtk-colors: (
  'rtk-purple': $rtk-purple,
  'rtk-pink': $rtk-pink,
  'rtk-green': $rtk-green,
  'rtk-orange': $rtk-orange,
  'rtk-red': $rtk-red,
  'rtk-scent': $rtk-scent,
  'rtk-umbra': $rtk-umbra,
);
